
.up-shadow {
    display: none;
    @media (max-width: 930px) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    @media (max-width: 850px) {
        height: 454px;
    }
}
.drum {
    &__chip {
        position: absolute;
        top: -84px;
        left: 76.5%;
        width: 365px;
        @media (min-width: 1800px) {
            left: 85.5%;
        }
        @media (max-width: 930px) {
            top: 599px;
            left: 67.5%;
            width: 365px;
            z-index: -1;
        }
        @media (min-width: 1317px) {
            left: 82.5%;
        }
        @media (max-width: 670px) {
            top: 354px;
            left: 67.5%;
            width: 246px;
            z-index: -1;
        }
        @media (max-width: 530px) {
            top: 249px;
            left: 75.5%;
            width: 187px;
            z-index: -1;
        }
    }
    &__logo {
        position: relative;
        .drum-img {
            width: 258px;
            height: 204px;
            left: 221px;
            top: 9px;
            position: absolute;
            @media (max-width: 1000px) {
                left: 137px;
            }
            @media (max-width: 930px) {
                width: 353px;
                height: 308px;
                left: -137px;
                top: 213px;
            }
            @media (max-width: 670px) {
                width: 207px;
                height: 162px;
                left: -68px;
                top: 81px;
            }
        }
        display: flex;
        justify-content: center;
        &-content {
            text-align: center;
        }
        padding-top: 53px;
        @media (max-width: 930px) {
            padding-top: 211px;
        }
        @media (max-width: 670px) {
            padding-top: 146px;
        }
        @media (max-width: 530px) {
            padding-top: 103px;
        }
        h1 {
            @include font(53px, 600);
            font-family: "Cera Pro", sans-serif;
            color: #fff;
            margin-bottom: 28px;
            @media (max-width: 670px) {
                font-size: 73px !important;
            }
            @media (max-width: 530px) {
                font-size: 54px !important;
            }
            @media (max-width: 850px) {
                margin-bottom: 25px !important;
            }
            @media (max-width: 930px) {
                margin-bottom: 53px;
            }
            @media (max-width: 930px) {
                font-size: 119px;
            }
            @media (max-width: 850px) {
                font-size: 85px;
                margin-bottom: 22px !important;
            }
        }
        &-title {
            @include font(19px, 600);
            font-family: "Cera Pro", sans-serif;
            @media (max-width: 670px) {
                font-size: 27px !important;
            }
            @media (max-width: 530px) {
                font-size: 20px !important;
            }
            @media (max-width: 930px) {
                font-size: 46px;
            }
            @media (max-width: 850px) {
                font-size: 35px;
            }
            color: #fff;
        }
        button {
            @include btn(298.95px, 50px, 19px, #FF00A2);
            margin-top: 22px;
            font-family: "Cera Pro", sans-serif;
            color: #fff;
            @media (max-width: 670px) {
                width: 382.95px !important;
                height: 69px !important;
                font-size: 26px !important;
                margin-top: 15px !important;
            }
            @media (max-width: 530px) {
                width: 289.95px !important;
                height: 58px !important;
                font-size: 20px !important;
                margin-top: 10px !important;
            }
            @media(max-width: 930px) {
                width: 651.95px;
                height: 130px;
                font-size: 45px;
            }
            @media (max-width: 850px) {
                width: 446.95px;
                height: 70px;
                font-size: 24px;
            }
            font-weight: 600;
            cursor: pointer;
            transform: rotate(-2.8deg);
        }
    }
    &__girl, &__girl-2 {
        
        transform: translate(48px, -80px) !important;
        width: 369px;
        height: 586px;
        @media (max-width: 1300px) {
            transform: translate(48px, -85px) !important;
        }
        @media (max-width: 1050px) {
            transform: translate(141px, -88px) !important;
        }
        @media (max-width: 930px) {
            transform: translate(152px, -38px) !important;
            width: 900px;
            height: 900px;
        }
    }
    .drum__girl-2 {
        display: none;
        @media (max-width: 930px) {
            display: block;
            transform: translate(282px, -42px) !important;
            width: 900px;
            min-height: 1111px;
        }
        @media (max-width: 850px) {
            transform: translate(257px, -42px) !important
        }
        @media (max-width: 670px) {
            min-height: 0;
            width: 336px !important;
            max-height: 678px !important;
            transform: translate(249px, -21px) !important;
        }
        @media (max-width: 670px) {
            transform: translate(140px, -21px) !important
        }
        @media (max-width: 530px) {
            transform: translate(103px, -21px) !important;
            width: 298px !important;
            max-height: 517px !important;
        }
    }
    .drum__girl {
        @media (max-width: 930px) {
            display: none;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        transform: translateX(-54px);
        height: 498px;
        // overflow-y: hidden;
    }
    &__chip-2 {
        position: absolute;
        width: 260px;
        height: 335px;
        left: -1%;
        top: 163px;
        @media (max-width: 1530px) {
            position: absolute;
            width: 297px;
            height: 335px;
            left: 6%;
            top: 163px;
            z-index: 1;
        }
        @media (max-width: 1200px) {
            left: 2%;
        }
        @media (max-width: 1050px) {
            left: -3%;
        }
        @media (max-width: 930px) {
            width: 507px;
            height: 600px;
            left: -10%;
            top: 700px;
        }
        @media (max-width: 670px) {
            width: 393px;
            height: 483px;
            left: -10%;
            top: 333px;
            z-index: -1;
        }
        @media (max-width: 530px) {
            width: 334px;
            height: 376px;
            left: -11%;
            top: 240px;
            z-index: -1;
        }
    }
    &__main {
        @media (max-width: 930px) {
            margin-top: -166px;
            padding-bottom: 39px;
            width: 835.832458px;
            height: 835.832458px;
        }
        @media (max-width: 670px) {
            width: 512.832458px !important;
            height: 512.832458px !important;
            margin-top: -278px !important;
        }
        &-container {
            position: relative;
            margin-top: 120px;
            @media (max-width: 930px) {
                transform: translateX(-27%);
                margin-top: 470px;
            }
            @media (max-width: 850px) {
                transform: translateX(-32%);
            }
            @media (min-width: 930px) {
                transform: translate(0, 0) !important;
                margin-top: 0 !important;
            }
            @media (max-width: 670px) {
                transform: translateX(-22%);
            }
            @media (max-width: 530px) {
                transform: translateX(-18%);
            }
        }
        margin-top: 22px;
        padding-bottom: 39px;
        width: 456.832458px;
        height: 456.832458px;
        background-image: url('../images/колесо.png');
        background-size: cover;
        position: relative;
        @media (max-width: 850px) {
            width: 700.832458px;
            height: 700.832458px;
        }
        @media (max-width: 530px) {
            width: 376.832458px !important;
            height: 376.832458px !important;
            margin-top: -334px !important;
        }
        &-up {
            // width: 491.832458px;
            // height: 470.83252px;
            // animation: scrollingDrum 1s ease-in-out;
            @media (max-width: 670px) {
                top: -297px !important;
                left: -20px !important;
                min-width: 550px !important;
                height: 550px !important;
            }
            @media (max-width: 930px) {
                top: -195px;
                left: -28px;
                min-width: 895px;
                height: 895px;
            }
            @media (max-width: 530px) {
                top: -347px !important;
                left: -14px !important;
                min-width: 404px !important;
                height: 404px !important;
            }
            position: absolute;
            top: 7px;
            left: -16px;
            min-width: 488px;
            height: 488px;
            @media (max-width: 850px) {
                top: -191px;
                left: -28px;
                min-width: 752px;
                height: 752px;
            }
        }
        &-internal {
            width: 283.832458px;
            height: 283.83252px;
            @media (max-width: 850px) {
                width: 438.832458px !important;
                height: 438.83252px !important;
                position: absolute;
                top: -36px !important;
                left: 129px !important;
            }
            @media (max-width: 930px) {
                width: 517.832458px;
                height: 517.83252px;
                position: absolute;
                top: -11px;
                left: 156px;
            }
             @media (max-width: 670px) {
                width: 312.832458px !important;
                height: 312.83252px !important;
                top: -181px !important;
                left: 98px !important;
            }
            @media (max-width: 530px) {
                width: 236.832458px !important;
                height: 236.83252px !important;
                top: -263px !important;
                left: 69px !important;
            }
            position: absolute;
            top: 107px;
            left: 86px;
            background-image: url('../images/колесо (1).png');
            background-size: cover;
            &--wheel {
                @media (max-width: 850px) {
                    width: 494.832458px !important;
                    height: 494.832458px !important;
                    top: -63px !important;
                    left: 100px !important;
                }
                @media (max-width: 670px) {
                    width: 350.832458px !important;
                    height: 350.832458px !important;
                    top: -201px !important;
                    left: 79px !important;
                }
                @media (max-width: 930px) {
                    width: 580.832458px;
                    height: 580.832458px;
                    top: -43px;
                    left: 125px;
                }
                @media (max-width: 530px) {
                    width: 260.832458px !important;
                    height: 261.832458px !important;
                    top: -276px !important;
                    left: 57px !important;
                }
width: 318.832458px;
    height: 318.832458px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 90px;
    left: 69px;
                background-image: url("../images/внутрений.png");
                background-size: cover;
                position: absolute;
                .indicator {
                    width: 86px;
                    height: 121px;
                }
            }
        }
    }
    &__spin {
        // position: absolute;
        transform: translateY(-70px) !important;
        width: 240px;
        height: 380px;
        @media (max-width: 930px) {
            display: none;
            
        }
    }
}
.internal-active {
    background-image: url('../images/active wheel.png') !important;
    @media (max-width: 930px) {
        width: 596.832458px !important;
        height: 596.832458px !important;
        top: -51px !important;
        left: 119px !important;
    }
    @media (max-width: 850px) {
        width: 505.832458px !important;
        height: 505.832458px !important;
        top: -70px !important;
        left: 96px !important;
    }
    @media (max-width: 670px) {
        width: 349.832458px !important;
        height: 371.832458px !important;
        top: -210px !important;
        left: 71px !important
    }
    @media (max-width: 530px) {
        width: 273.832458px !important;
        height: 276.832458px !important;
        top: -284px !important;
        left: 50px !important;
    }
                width: 329.832458px;
    height: 323.832458px;
    top: 86px;
    left: 64px;
}
.indicator {
    position: absolute;
    top: 161px;
    left: 183px;
    width: 91px;
    height: 131px;
    @media (max-width: 930px) {
        top: 104px;
        left: 337px;
        width: 155px;
        height: 227px;
    }
    @media (max-width: 850px) {
        top: 65px;
        left: 288px;
        width: 126px;
        height: 186px;
    }
    @media (max-width: 670px) {
        top: -120px;
        left: 207px;
        width: 98px;
        height: 142px;
    }
    @media (max-width: 530px) {
        top: -214px;
        left: 154px;
        width: 70px;
        height: 100px;
    }
}
.spin-adaptive {
    display: none;
    position: absolute;
    @media (max-width: 930px) {
        display: block;
        top: 25px;
        left: 45%;
    }
    @media (max-width: 670px) {
        width: 258px !important;
        height: 152px !important;
        top: 25px !important;
        left: 49% !important;
    }
    @media (max-width: 530px) {
        width: 201px !important;
        height: 118px !important;
        top: 10px !important;
        left: 51% !important;
    }
}
@keyframes scrollingDrum {
    1% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(274deg);
    }
}

.alert {
    width: 686px;
    height: 110px;
    background: rgba(0, 0, 0, 0.8);
    top: 573px;
    border: 5px solid #85FF08;
    border-radius: 21px;
    padding: 0 38px;
    display: flex;
    align-items: center;
    z-index: 99;
    // gap: 59px;
    &-content {
        width: 497px;
        @media (max-width: 670px) {
            width: 299px;
        }
        @media (max-width: 530px) {
            width: 232px;
        }
        h1 {
            @include font(32px, 500);
            font-family: 'Cera Pro', sans-serif;
            color: #fff;
            @media (max-width: 930px) {
                font-size: 53px;
                text-align: center;
            }
            @media (max-width: 670px) {
                font-size: 36px;
            }
            @media (max-width: 530px) {
                font-size: 27px;
            }
        }
        h2 {
           @include font(29px, 900);
           font-family: 'Cera Pro', sans-serif; 
           color: #85FF08;
           @media (max-width: 930px) {
            font-size: 58px;
            text-align: center;
            margin-bottom: 20px;
           }
           @media (max-width: 670px) {
                font-size: 34px;
           }
           @media (max-width: 530px) {
            font-size: 26px;
           }
        }
    }
    a {
        display: flex;
        justify-content: center;    
        align-items: center;
        h1 {
            font-size: 20px;
            font-weight: 900;
            font-family: "Cera Pro", sans-serif;
            color: #000;
        }
        @media (max-width: 930px) {
            width: 449px;
            height: 75px;  
            h1 {
                font-size: 40px; 
            }
        }
        @media (max-width: 670px) {
            width: 276px;
            height: 48px; 
            h1 {
                font-size: 25px; 
            }
        }
        @media (max-width: 530px) {
            width: 201px;
            height: 39px;
            h1 {
                font-size: 18px;
            }
        }
        background: #85FF08;
        border-radius: 5px;
        width: 251px;
        height: 41px;
        transform: translateY(-4px);
    }
    @media (max-width: 930px) {
        width: 615px;
        height: 456px;
        flex-direction: column;
        padding-top: 70px;
        animation: alertAnimation 2s ease;
    }
    @media (max-width: 670px) {
        width: 375px;
        height: 278px;
        padding-top: 39px;
    }
    @media (max-width: 530px) {
        width: 289px;
        height: 214px;
        padding-top: 27px;
    }
    &-container {
        display: none;
        width: 100%;
        justify-content: center;
        position: absolute;
        top: 573px;
        @media (max-width: 930px) {
            top: 720px;
        }
        @media (max-width: 670px) {
            top: 452px;
        }
        @media (max-width: 530px) {
            top: 329px;
        }
    }
}
@keyframes alertAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
.up-active {
    @media (min-width: 930px) {
        position: absolute !important;
        top: -47px !important;
        left: -71px !important;
        min-width: 597px !important;
        height: 553px !important;

        
    }
    @media (max-width: 930px) {
        top: -298px !important;
        left: -128px !important;
        min-width: 1090px !important;
        height: 1020px !important;
    }
    @media (max-width: 850px) {
        top: -279px !important;
        left: -112px !important;
        min-width: 920px !important;
        height: 859px !important;
    }
    @media (max-width: 670px) {
        top: -359px !important;
        left: -80px !important;
        min-width: 671px !important;
        height: 625px !important;
    }
    @media (max-width: 530px) {
        top: -395px !important;
        left: -58px !important;
        min-width: 490px !important;
        height: 464px !important;
    }
}

@keyframes scrollingUpDrum {
    1% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(374deg);
    }
}